{% load static %}
<!--====== Nav 1 ======-->
<nav class="primary-nav-wrapper">
    <div class="container">

        <!--====== Primary Nav ======-->
        <div class="primary-nav">

            <!--====== Main Logo ======-->

            <a class="main-logo" href="index-2.html">

                <img src="{% static 'images/logo/logo-2.png' %}" alt=""></a>
            <!--====== End - Main Logo ======-->


            <!--====== Search Form ======-->
            <form class="main-form">

                <label for="main-search"></label>

                <input class="input-text input-text--border-radius input-text--style-2" type="text" id="main-search" placeholder="Search">

                <button class="btn btn--icon fas fa-search main-search-button" type="submit"></button>
            </form>
            <!--====== End - Search Form ======-->


            <!--====== Dropdown Main plugin ======-->
            <div class="menu-init" id="navigation">

                <button class="btn btn--icon toggle-button toggle-button--white fas fa-cogs" type="button"></button>

                <!--====== Menu ======-->
                <div class="ah-lg-mode">

                    <span class="ah-close">✕ Close</span>

                    <!--====== List ======-->
                    <ul class="ah-list ah-list--design1 ah-list--link-color-white">
                        <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="Account">
                            {% if user.is_authenticated %}
                                 <a><i class="far fa-user-circle"></i> welcome, {{ user.username }}</a>

                                {% else %}
                                 <a href="{% url 'fsignin' %}"><i class="far fa-user-circle"></i> Login</a>

                            {% endif %}

                            <!--====== Dropdown ======-->
                            <span class="js-menu-toggle"></span>
                            <ul style="width:120px">
                                <li>

                                    <a href="{% url 'fdashboard' %}"><i class="fas fa-user-circle u-s-m-r-6"></i>

                                        <span>Account</span></a></li>
                                {% if user.is_authenticated %}
                                    <li>

                                        <a href="{% url 'flogout' %}"><i class="fas fa-lock-open u-s-m-r-6"></i>

                                            <span>Signout</span></a></li>
                                {% else %}
                                    <li>

                                        <a href="{% url 'fsignup' %}"><i class="fas fa-user-plus u-s-m-r-6"></i>

                                            <span>Signup</span></a></li>
                                    <li>

                                        <a href="{% url 'fsignin' %}"><i class="fas fa-lock u-s-m-r-6"></i>

                                            <span>Signin</span></a></li>
                                {% endif %}


                            </ul>
                            <!--====== End - Dropdown ======-->
                        </li>


                    </ul>
                    <!--====== End - List ======-->
                </div>
                <!--====== End - Menu ======-->
            </div>
            <!--====== End - Dropdown Main plugin ======-->
        </div>
        <!--====== End - Primary Nav ======-->
    </div>
</nav>
<!--====== End - Nav 1 ======-->